langchain-core==0.3.25
langchain==0.3.12
langchain-community==0.3.12
langchain-openai==0.2.12
langchain-ollama==0.2.2
langchainhub==0.1.21
#
langgraph==0.2.59
#
scikit-learn==1.6.0
# graphs drawing
grandalf==0.8
Pillow==11.0.0
# scrape information from web pages
beautifulsoup4==4.12.3
#
chromadb==0.5.23
tiktoken==0.8.0
lxml==5.3.0
#
IPython==8.30.0
python-dotenv==1.0.1
#
tavily-python==0.5.0
#
openai==1.58.1
httpx
httpx-sse
PyJWT
#
qianfan==0.4.12.2
redis
#
duckduckgo-search==6.4.1