langchain-core==0.3.41
langchain==0.3.20
langchain-community==0.3.19
langchain-openai==0.3.7
langchain-ollama==0.2.3
langchainhub==0.1.21
#
langgraph==0.3.2
#
scikit-learn==1.6.1
# graphs drawing
grandalf==0.8
Pillow==11.1.0
# scrape information from web pages
beautifulsoup4==4.13.3
#
chromadb==0.6.3
tiktoken==0.9.0
lxml==5.3.1
#
IPython==9.0.2
python-dotenv==1.0.1
#
tavily-python==0.5.1
#
openai==1.65.4
httpx
httpx-sse
PyJWT
#
qianfan==0.4.12.3
redis
#
duckduckgo-search==7.4.4