langchain-core==0.3.76
langchain==0.3.27
langchain-community==0.3.29
langchain-openai==0.3.33
langchain-ollama==0.3.8
langchainhub==0.1.21
#
langgraph==0.6.7
#
scikit-learn==1.6.1
# graphs drawing
grandalf==0.8
Pillow==11.3.0
# scrape information from web pages
beautifulsoup4==4.13.5
#
chromadb==1.0.21
tiktoken==0.11.0
lxml==6.0.2
#
IPython==9.0.1
python-dotenv==1.1.1
#
tavily-python==0.7.12
#
openai==1.108.2
httpx
httpx-sse
PyJWT
#
qianfan==0.4.12.3
redis
#
duckduckgo-search==2025.4.4