langchain-core==0.3.34
langchain==0.3.17
langchain-community==0.3.16
langchain-openai==0.3.4
langchain-ollama==0.2.3
langchainhub==0.1.21
#
langgraph==0.2.69
#
scikit-learn==1.6.1
# graphs drawing
grandalf==0.8
Pillow==11.1.0
# scrape information from web pages
beautifulsoup4==4.13.3
#
chromadb==0.6.3
tiktoken==0.8.0
lxml==5.3.1
#
IPython==8.32.0
python-dotenv==1.0.1
#
tavily-python==0.5.0
#
openai==1.61.1
httpx
httpx-sse
PyJWT
#
qianfan==0.4.12.3
redis
#
duckduckgo-search==7.3.1